.btn {
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: rgb(42, 42, 205);
}

.main {
  padding-left: 150px;
  height: 100px;
}

.white-text {
  color: white;
}

.text {
  color: white;
}
