h1,.form{
  margin: 20px 100px;
}
.form{
  padding: 20px;
  width:400px;
  background-color: rgb(240, 240, 240);
}
.btn{
  background-color: rgb(66, 66, 172);
  width:52%;
margin-left:80px;
margin-top: 10px;
margin-bottom: 10px;
color: white;
}
input{
  padding: 10px;
  outline: none;
}
